@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#container{
    max-width: 736px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}
.image{
    
    display: flex;
    justify-content: center;
}
img{
    width: 656px;
    height: 300px;
    margin-top: 40px;
    border-radius: 20px;
}
.content{
    max-width:656px;
    margin-left: 40px;
    margin-right: 40px;
}
h1{
    font-size: 28pt;
    font-family: "Young Serif";
    font-weight: 400;
}
p{
    font-family: "Outfit";
    font-weight: 200;
}
.time{
    background-color: hsl(330, 100%, 98%);
    max-width: 656px;
    min-height: 180px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Outfit";
}
li::marker{
    color: hsl(332, 51%, 32%);
    font-size: .50em;
}
h3{
    color: hsl(332, 51%, 32%);
    font-weight: 500;
    margin-left: 20px;
}
li span{
    font-weight: bold;
    
}

