@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

html{
    
    margin: 0;
    padding: 0;
}


body{
    height: 100%;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#container{
    min-width: 375px;
    max-width: 736px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}
.inner-content{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px   
}
.image{
    
    display: flex;
    justify-content: center;
}
img{
    max-width: 656px;
    min-width: 325px;
    margin-top: 40px;
    border-radius: 20px;
}
.content{
    max-width:656px;
}
h1{
    font-size: 28pt;
    font-family: "Young Serif";
    font-weight: 400;
}
p{
    font-family: "Outfit";
    font-weight: 200;
}
.time{
    background-color: hsl(330, 100%, 98%);
    max-width: 656px;
    min-height: 180px;
    border-radius: 20px;
    padding-top: 10px;
    font-family: "Outfit";
}
li::marker{
    color: hsl(332, 51%, 32%);
    font-size: .70em;
}
h3{
    color: hsl(332, 51%, 32%);
    font-weight: 500;
    margin-left: 20px;
}
li span{
    font-weight: bold;
    color: hsl(30, 10%, 34%);
}
li{
    color: hsl(30, 10%, 34%);
    font-weight: 300;
    font-family: "Outfit";
    font-size: 16px;
}
ul{
    line-height: 35px;
    align-content: center;
}
h2{
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif";
    font-size: 24pt;
    font-weight: 100;
}
.ingredients{
    
    font-size: 18pt;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-family: "Outfit";
    font-size: 14pt;
    font-weight: 300;
    color: hsl(30, 10%, 34%);
    
}   
tr{
    border: 1px solid hsl(30, 18%, 87%);
    border-width: 1px 0;
    
}
tr:first-child {
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}
span{
    color:  hsl(14, 45%, 36%);
    font-weight:600;
}
.nutrition{
    margin-bottom: 40px;
}
td{
    padding: 15px;
    
}
ol > li::marker {
    font-weight: bold;
    font-size: 10pt;
}